# LLRB EDA

In [56]:
import pandas as pd 

df = pd.read_csv("../data/combined.csv")

df.drop('Unnamed: 10', axis=1, inplace=True)
# rename columns
df.rename(columns={'Date of Shout': 'date_of_shout',
                     'Time of Shout': 'time_of_shout',
                     'Pager Code': 'pager_code',
                     'Location of Shout': 'location_of_shout',
                     'Shout Details': 'shout_details',
                     'Time Boat Launched': 'time_boat_launched',
                     'Time boat returned': 'time_boat_returned',
                     'Crew on Board': 'crew_on_board',
                     'Crew on Shore': 'crew_on_shore',
                     'Weather at time of shout': 'weather_at_time_of_shout'
                     }, inplace=True)

# df.head()
df.drop('shout_details',axis=1, inplace=True)

In [43]:
# # Convert 'date_of_shout' column to datetime
# df['date_of_shout'] = pd.to_datetime(df['date_of_shout'], errors='coerce', format='%Y-%m-%d').dt.date
# # df['date_of_shout'] = df['date_of_shout'].dt.date

# # df['date_of_shout'] = pd.to_datetime(df['date_of_shout'], errors='coerce').apply(lambda x: x.date())

# # Extract the date component again
# # df['date_of_shout'] = df['date_of_shout'].dt.date

# # Convert time columns to time objects
# df['time_of_shout'] = pd.to_datetime(df['time_of_shout'], errors='coerce', format='%H:%M %p').dt.time
# df['time_boat_launched'] = pd.to_datetime(df['time_boat_launched'], errors='coerce', format='%H:%M %p').dt.time
# df['time_boat_returned'] = pd.to_datetime(df['time_boat_returned'], errors='coerce', format='%H:%M %p').dt.time

In [52]:
# Display the first few rows of the DataFrame
df.head()

,date_of_shout,time_of_shout,pager_code,location_of_shout,time_boat_launched,time_boat_returned,crew_on_board,crew_on_shore,weather_at_time_of_shout
0,21/07/2023,15:05,9992167,Inchtavvanch channel,1520,16:15,RB TR AMCD,GH DON,Lovely
1,19/07/2023,18:44,333,Ardlui,1900,20:15,"RB, CG, TR, AB jnr, AMcL","RO, AB snr","Sunny, windy"
2,16/07/2023,11:10,999,South of Inverbeg,11:10,12:15,Rb RO GH,Na,West wind heavy showers
3,08/07/2023,09:44,333,Duckbay,09:55,10:30,"DS, AM, AJM","TR, DO",Dry and warm
4,05/07/2023,1849,222,Boturich shore,1904,2004,"ABsnr, EMc, JB, CG","RB, AM","Dry, sunny"

## correct dates:

In [57]:
# Custom function to convert date to datetime with two different formats
def convert_to_datetime(date_str):
    """Convert 'date_of_shout' column to datetime
    There are two formats of dates 
    format 1 : 16/07/2023
    format 2 :2023-09-05T00:00:00.000Z
    I want all the dates to be in the format 2023-09-05
    """
    try:
        return pd.to_datetime(date_str, format='%d/%m/%Y').strftime('%Y-%m-%d')
    except ValueError:
        return pd.to_datetime(date_str).strftime('%Y-%m-%d')

# Convert 'date_of_shout' column to datetime
df['date_of_shout'] = df['date_of_shout'].apply(convert_to_datetime)

In [58]:

# Display the DataFrame
df.head(

,date_of_shout,time_of_shout,pager_code,location_of_shout,time_boat_launched,time_boat_returned,crew_on_board,crew_on_shore,weather_at_time_of_shout
0,2023-07-21,15:05,9992167,Inchtavvanch channel,1520,16:15,RB TR AMCD,GH DON,Lovely
1,2023-07-19,18:44,333,Ardlui,1900,20:15,"RB, CG, TR, AB jnr, AMcL","RO, AB snr","Sunny, windy"
2,2023-07-16,11:10,999,South of Inverbeg,11:10,12:15,Rb RO GH,Na,West wind heavy showers
3,2023-07-08,09:44,333,Duckbay,09:55,10:30,"DS, AM, AJM","TR, DO",Dry and warm
4,2023-07-05,1849,222,Boturich shore,1904,2004,"ABsnr, EMc, JB, CG","RB, AM","Dry, sunny"

## times

In [55]:
Convert 'time_of_shout','time_boat_launched','time_boat_returned' columns into datetime

There are two formats of dates 

format 1 : 15:05	

format 2 : 1456

I want all the dates to be in a standardised format

  date_of_shout
0    2023-07-16
1    2023-09-05

In [59]:



# Custom function to convert time to datetime with two different formats
def convert_to_datetime(time_str):
    try:
        # Try parsing time with format 'HH:MM'
        return pd.to_datetime(time_str, format='%H:%M').strftime('%H:%M')
    except ValueError:
        # Try parsing time with format 'HHMM'
        return pd.to_datetime(time_str, format='%H%M').strftime('%H:%M')

# Convert 'time_of_shout', 'time_boat_launched', and 'time_boat_returned' columns to datetime
df['time_of_shout'] = df['time_of_shout'].apply(convert_to_datetime)
df['time_boat_launched'] = df['time_boat_launched'].apply(convert_to_datetime)
df['time_boat_returned'] = df['time_boat_returned'].apply(convert_to_datetime)

  time_of_shout time_boat_launched time_boat_returned
0         15:05              15:20              16:15
1         14:56              11:10              12:15