# Notes

We now clean more involved features.

Notes:

- Getting precise locations for incidents may be hard, so we may need to use a proxy for incidents in the form of "what 3 words" data. 
- For locations that are general in area, pick a specific spot. Remember that for a search in rescue a spcific location may be difficult to find.

In the future can we get memeber to record what 3 words data for incidents. Or ask for person on dispatch to relay the what 3 words information.

What do each pager code refer to?

EDA Questions:
in pager_code what does 9992167,9994432 mean?
What does 999,333,222,N/a,AIRWAVE nan
fill in nan vales

Explore misc pager_code and cross reference with details

Search rows for incorrectly inputted data

# Data

In [4]:
import pandas as pd 

df = pd.read_csv("..\data\preprocessed_dates_time_data.csv")
# df.drop(columns=["shout_details"], inplace=True)
# df.columns

In [5]:
features_interest = ['pager_code', 'location_of_shout','shout_details','crew_on_board', 'crew_on_shore', 'weather_at_time_of_shout']
df = df[features_interest]
df.head()

,pager_code,location_of_shout,shout_details,crew_on_board,crew_on_shore,weather_at_time_of_shout
0,9992167,Inchtavvanch channel,"Call on channel 16 saying swimmer in water, in...",RB TR AMCD,GH DON,Lovely
1,333,Ardlui,17' Fletcher speedboat with 1 male occupant ha...,"RB, CG, TR, AB jnr, AMcL","RO, AB snr","Sunny, windy"
2,999,South of Inverbeg,Concern for missing kayaker that hasnt return...,Rb RO GH,Na,West wind heavy showers
3,333,Duckbay,Reports of a small craft adrift out in front o...,"DS, AM, AJM","TR, DO",Dry and warm
4,222,Boturich shore,Crew were paged to a small bayliner with an en...,"ABsnr, EMc, JB, CG","RB, AM","Dry, sunny"

# pager_code

Given pager_code take first three letters as the code, if there are more than three letters, take the next three letters as subcode.

In [25]:
df['pager_code'].fillna("Na", inplace=True)

In [58]:
# Filter the DataFrame to get rows where 'pager_code' 
value="333"

filtered_df = df[df['pager_code'] == value]

#show full length of shout details
pd.set_option('display.max_colwidth', None)
filtered_df[['pager_code', 'shout_details']].head()

,pager_code,shout_details
1,333,17' Fletcher speedboat with 1 male occupant had suffered mechanical failure and was drifting just south of Ardlui. The boat and occupant were put on a long tow and taken back to their berth at Rowardennan
3,333,Reports of a small craft adrift out in front of Duckbay. After a quick search the small tender was located on the shore line. Small craft was found to be damaged and was removed from the water.
5,333,"Report of a vessel drifted from beach with no persons onboard. Caller informed Police Scotland that he was on the beach and required assistance to retrieve the vessel. LLRB launched to support, once on scene crew quickly located the caller who advised local campers were able to assist retrieve his vessel, all being well LLRB stood down and returned to base."
6,333,"Cuddy drifted ashore onto Boturich shore line with 4 on board, boat taken back to duncan mills"
7,333,"LLRB paged to assist male who had kayaked across the Loch from the A82 side but was now stranded on the west highland way after suffering damage to his inflatable , male & his kayak were taken to Luss pier to meet his family and return home , LLRB stood down returning to base at 00:48"

Identify all rows that begin with 999,333,222 and have a subcode. Extract subcode and put into subcode.

In [27]:
#First put all subcodes as None
df['subcode']=None

#First: Identify all rows that are of form 999,333,222 only. 

# Identify all rows that are of form 999,333,222 only. For the subcode put None.
df_pager_main_only = df['pager_code'].apply(lambda x: x if x in ['999','333','222'] else None)
# df_pager_main_only.value_counts()

#Now get subcodes for the rest of the rows

df['subcode'] = df['pager_code'].apply(lambda x: str(x)[3:] if x not in df_pager_main_only else None)

Extract rows that do not start with a pager code of the form 999,333,222.

In [28]:
#Identify all rows that do not start with:  999,333,222.

df_non = df[~df['pager_code'].astype(str).str.match(r'^(999|333|222)')]
# print(df_non.shape) #69
df_non['pager_code'].value_counts()

(69, 7)

pager_code
Na                                     50
other / already out                     5
On water                                2
AIRWAVE                                 2
Na on water                             2
Nil                                     1
N/A   AB messaged                       1
N/a                                     1
3032                                    1
Na already on water at safety event     1
11:30                                   1
Na already out                          1
Na just returned from previous          1
Name: count, dtype: int64

In [ ]:
#save those that begin with 999,333,222
df_main = df[df['pager_code'].astype(str).str.match(r'^(999|333|222)')]

# Once pager_code has be entered for those without (df_non), concate df_main and created df_non_entered.
# identify those pager_codes that need to be entered in for based on shout_details.
#See pager code descriptions

# save df_non to csv
# df_non.to_csv('../data/pager_codes_missing.csv', index=False)

# 'crew_on_board' and 'crew_on_shore'

In [ ]:
1. Ronnie Britton - Coxswain 
2. Rennie Oliver - Deputy Coxswain 
3. Iain Gollan (Goz) - Deputy Coxswain 
4. Ally McLeod - Deputy Coxswain 
5. Andy Biddulph Snr - Deputy Coxswain & Safety Advisor 
6. Andy Biddulph Jnr  - Crew 
7. Gemma Dorran - Crew 
8. Phils Brooks-Taylor - Crew 
9. David O'Neil - Crew & Medical Trainer/Advisor 
10. Craig Clancy - Crew & Social Media 
11. Gerry Heaney - Crew 
12. Angus John MacDonald - Crew 
13. Callum MacKenzie Stevens - Crew & Website holder 
14. David Stuart - Crew 
15. Thomas Rogers - Crew 
16. Euan MciIwraith - Crew 
17. Paul Dorrian - Crew 
18. Kevin McPartland - Crew 
19. Jenna Biddulph - Crew
20. Vicki Murphy - Crew 
1. John Mason -  
2. Andy Connell -
3. Franny Nicol -
4. Frank Rogers - 
5. Christine Allan - 
6. Clinton Salter-

In [ ]:
- Ronnie Britton
- Rennie Oliver
- Iain Gollan (Goz)
- Ally McLeod
- Andy Biddulph Snr
- Andy Biddulph Jnr
- Gemma Dorran
- Phils Brooks-Taylor
- David O'Neil
- Craig Clancy
- Gerry Heaney
- Angus John MacDonald
- Callum MacKenzie Stevens
- David Stuart
- Thomas Rogers
- Euan MciIwraith
- Paul Dorrian
- Kevin McPartland
- Jenna Biddulph
- Vicki Murphy
- John Mason
- Andy Connell
- Franny Nicol
- Frank Rogers
- Christine Allan
- Clinton Salter

In [ ]:
{
    "RB": "Ronnie Britton",
    "RO": "Rennie Oliver",
    "IG": "Iain Gollan (Goz)",
    "AM": "Ally McLeod",
    "ABS": "Andy Biddulph Snr",
    "ABJ": "Andy Biddulph Jnr",
    "GD": "Gemma Dorran",
    "PBT": "Phils Brooks-Taylor",
    "DON": "David O'Neil",
    "CC": "Craig Clancy",
    "GH": "Gerry Heaney",
    "AJM": "Angus John MacDonald",
    "CMS": "Callum MacKenzie Stevens",
    "DS": "David Stuart",
    "TR": "Thomas Rogers",
    "EM": "Euan MciIwraith",
    "PD": "Paul Dorrian",
    "KM": "Kevin McPartland",
    "JB": "Jenna Biddulph",
    "VM": "Vicki Murphy",
    "JM": "John Mason",
    "AC": "Andy Connell",
    "FN": "Franny Nicol",
    "FR": "Frank Rogers",
    "CA": "Christine Allan",
    "CS": "Clinton Salter"
    "JT": "James Thomson",
    "TAM":"Tam (Cox)",
    "GERARD","Gerard",
    "DAVY","Davy",
    "LEE","Lee",
}

instagram metrics:
10. Craig Clancy - Crew & Social Media

In [ ]:
manually handled weather codes.

"data\codes_preprocessed_dates_time_data.csv"

Remember to convert weather, details and location to lower case.

Enure crew spaces are removed

location_of_shout
Boturich Shore                                  4
River Leven                                     4
Inchmoan island                                 3
Duckbay                                         2
Boturich shoreline                              2
                                               ..
ISLANDS                                         1
INCHMURRIN                                      1
Half mile south of Inversnaid                   1
Front of Inchmurrin                             1
West side of Loch by Loch Lomond Golf Course    1
Name: count, Length: 166, dtype: int64

In [ ]:
import pandas as pd 

df = pd.read_csv("..\data\codes_preprocessed_dates_time_data.csv")
# df.drop(columns=["shout_details"], inplace=True)
# df.columns

In [ ]:
#Turn values into comma separated values.
# Keep as Initials for now.

In [ ]:
df['crew_on_board'].fillna("Na", inplace=True)
df['crew_on_shore'].fillna("Na", inplace=True)

In [65]:
feats=['crew_on_board', 'crew_on_shore']
df[feats].head()
df_crew=df[feats]

In [66]:
df_crew.value_counts()

crew_on_board                  crew_on_shore
JT TR                          Na               3
Gerry , Ronnie , Angus , euan  David  Oneill    2
David , Angus , Alistair       Na               2
Ronnie , David , Angus         Na               2
RB, ABsnr, Don, JB, EM, GD     Na               2
                                               ..
DS, am, Gh, ab snr             Tr               1
DS,CG,GH,ABjnr                 Na               1
DS,RO                          Na               1
David , Gerry , David Stuart   Nil              1
ab jnr amac IG Amcd JT         AB SNR FR RB     1
Name: count, Length: 168, dtype: int64

# location

In [ ]:
import pandas as pd 

df = pd.read_csv("..\data\codes_preprocessed_dates_time_data.csv")
# df.drop(columns=["shout_details"], inplace=True)
# df.columns

In [ ]:
df.fillna({"location_of_shout": "Na"}, inplace=True)

In [ ]:
feats=['location_of_shout']
df_loc=df[feats]

In [ ]:
df_loc.value_counts()

location_of_shout
Boturich Shore                                  4
River Leven                                     4
Inchmoan island                                 3
Duckbay                                         2
Boturich shoreline                              2
                                               ..
ISLANDS                                         1
INCHMURRIN                                      1
Half mile south of Inversnaid                   1
Front of Inchmurrin                             1
West side of Loch by Loch Lomond Golf Course    1
Name: count, Length: 166, dtype: int64