We now clean more involved features.

Notes:

- Getting precise locations for incidents may be hard, so we may need to use a proxy for incidents in the form of "what 3 words" data. 
- For locations that are general in area, pick a specific spot. Remember that for a search in rescue a spcific location may be difficult to find.

In the future can we get memeber to record what 3 words data for incidents.

In [19]:
import pandas as pd 

df = pd.read_csv("../data\preprocessed_dates_time_data.csv")
# df.drop(columns=["shout_details"], inplace=True)
# df.columns

In [20]:
features_interest = ['pager_code', 'location_of_shout','shout_details','crew_on_board', 'crew_on_shore', 'weather_at_time_of_shout']
df = df[features_interest]
# df.head()

# pager_code

Given pager_code take first three letters as the code, if there are more than three letters, take the next three letters as subcode.

Identify all rows that are of form 999,333,222 only. For the subcode put None.

Identify all rows that begin with 999,333,222 and have a subcode. Extract subcode and put into subcode.

df['subcode']

Extract rows that do not start with a pager code of the form 999,333,222.

In [23]:
#Identify all rows that do not start with:  999,333,222.

df_non = df[~df['pager_code'].astype(str).str.match(r'^(999|333|222)')]


print(df_non.shape) #108
df_non['pager_code'].unique()

#do not want items like '9992167', '333/999', use regex if necessary

#only want to identify items like 'On water',

(69, 6)

array(['On water', 'Nil', 'N/A   AB messaged', 'N/a', 'nan', '3032',
       'other / already out', 'AIRWAVE', 'Na on water',
       'Na already on water at safety event', '11:30', 'Na already out',
       'Na just returned from previous'], dtype=object)