We now clean more involved features.

Notes:

- Getting precise locations for incidents may be hard, so we may need to use a proxy for incidents in the form of "what 3 words" data. 
- For locations that are general in area, pick a specific spot. Remember that for a search in rescue a spcific location may be difficult to find.

In the future can we get memeber to record what 3 words data for incidents.

What do each pager code refer to?

In [5]:
import pandas as pd 

df = pd.read_csv("../data\preprocessed_dates_time_data.csv")
# df.drop(columns=["shout_details"], inplace=True)
# df.columns

In [6]:
features_interest = ['pager_code', 'location_of_shout','shout_details','crew_on_board', 'crew_on_shore', 'weather_at_time_of_shout']
df = df[features_interest]
# df.head()

# pager_code

Given pager_code take first three letters as the code, if there are more than three letters, take the next three letters as subcode.

In [25]:
df['pager_code'].fillna("Na", inplace=True)

Identify all rows that are of form 999,333,222 only. For the subcode put None.

In [26]:
# Identify all rows that are of form 999,333,222 only. For the subcode put None.
df_pager_main_only = df['pager_code'].apply(lambda x: x if x in ['999','333','222'] else None)
# df_pager_main_only.value_counts()

df['subcode']=None
# df.head()

Identify all rows that begin with 999,333,222 and have a subcode. Extract subcode and put into subcode.

In [27]:
df['subcode'] = df['pager_code'].apply(lambda x: str(x)[3:] if x not in df_pager_main_only else None)

Extract rows that do not start with a pager code of the form 999,333,222.

In [28]:
#Identify all rows that do not start with:  999,333,222.

df_non = df[~df['pager_code'].astype(str).str.match(r'^(999|333|222)')]


print(df_non.shape) #69
df_non['pager_code'].value_counts()

#do not want items like '9992167', '333/999', use regex if necessary

#only want to identify items like 'On water',

(69, 7)

pager_code
Na                                     50
other / already out                     5
On water                                2
AIRWAVE                                 2
Na on water                             2
Nil                                     1
N/A   AB messaged                       1
N/a                                     1
3032                                    1
Na already on water at safety event     1
11:30                                   1
Na already out                          1
Na just returned from previous          1
Name: count, dtype: int64

In [ ]:
#save those that begin with 999,333,222
df_main = df[df['pager_code'].astype(str).str.match(r'^(999|333|222)')]

# Once pager_code has be entered for those without, concate df_main and df_non_entered.

In [ ]:
# identify those pager_codes details need to be entered in for based on details.
#See pager code descriptions

In [36]:
df_non.head()
feats=['shout_details', 'pager_code']  # Separate the column names by a comma
df_non_feats=df_non[feats]
df_non_feats.head()

                                        shout_details         pager_code
14  Crew were out on training when flagged down by...           On water
33  Jetski out of fuel, flagged down LLRB whilst w...                Nil
46  19yr old male casually walking the WHW twisted...  N/A   AB messaged
53  As above, once location identified it was pass...                N/a
70  On return from our first shout of the day we w...                 Na

In [ ]:
# save the cleaned data to a new csv file
df.to_csv('../data/pager_codes_missing.csv', index=False)